{% extends 'base.html' %}
{% block content %}

<h5>Change Address:</h5>
<form method="POST" action="{% url 'address' %}">
    {% csrf_token %}
    <p><b>UID: </b><input type="text" name="UID" id = "UID"></p>
    <p><b>Street: </b><input type="text" name="street" id= "street"></p>
    <p><b>City: </b><input type="text" name="city" id="city"></p>
    <p><b>State: </b><input type="text" name="city" id="city"></p>
    <p><b>PIN: </b><input type="number" name="pin" id="pin"></p>
    <input type="submit">
</form>
{#<script>#}
{#    function add_change(){#}
{#        var id = document.getElementById("make").value#}
{#        $.ajax({#}
{#            type: "POST",#}
{#            url: '{% url 'book' %}',#}
{#            data: { csrfmiddlewaretoken: '{{ csrf_token }}', npi:npi },#}
{#            success: function(){#}
{#                alert("Done");#}
{#            }#}
{#        });#}
{#    }#}
{#</script>#}
{% endblock %}