{% extends 'base.html' %}
{% block content %}
    {% if flag == 1 %}
    <h5> Seems like you are not satisfied with your Pcp</h5>
    <form method = "GET" action = "{% url 'doctor_change' %}">
        <input type = "hidden" value = "{{ UID }}" name = "UID">
        <input type = "submit" value = "Find a new PCP" >

    </form>
    {% else %}
    <h5> Thank you for reviewing. It seems you are satisfied with your pcp</h5>
        <form method = "GET" action = "{% url 'profile' %}">
        <input type = "hidden" value = "{{ UID }}" name = "UI">
        <input type = "submit" value = "Go to Profile page" >

    </form>
    {% endif %}
{% endblock %}